<app-header></app-header>
<div class="home-container">
  <h1 class="text-center">Bem vindo, admin</h1>
  <div class="cards-container">
    <div class="row">
      <div class="col-lg-6 my-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">A Tech Startup hoje tem </h5>
            <h5 class="card-title text-center my-3">{{cargos}} possibilidades de cargos</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 my-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">A Tech Startup conta com</h5>
            <h5 class="card-title text-center my-3">{{funcionariosAtivos}} colaboradores</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
