
<div class="login-container">
  <div class="balao">
    <h1 class="titulo-balao mt-3">Seja Bem Vindo ao</h1>
    <h1 class="titulo-balao mb-3">Sistema de Gerenciamento da Tech Startup</h1>
    <h3 class="login-balao my-3">Faça seu login</h3>
    <div class="label-float">
      <input type="email" placeholder=" " >
      <label>username</label>
    </div>
    <div class="label-float my-3">
      <input type="password" placeholder=" ">
      <label>password</label>
    </div>
    <div>
      <button routerLink="/home" class="btn my-4">Login</button>
    </div>
  </div>
  <div class="img">
    <img src="../../../assets/img/robo-removebg-preview.png" alt="">
  </div>
</div>
